server/Nuxeo-server/src/main/resources/schema/Nmbs/schema3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="_CustomerName" type="xs:string" />
  <xs:element name="_SupplierInvNo" type="xs:unsignedInt" />
  <xs:element name="_InvoiceDate" type="xs:string" />
  <xs:element name="_CustomerOrderNo" type="xs:string" />
  <xs:element name="_CustomerNo" type="xs:string" />
  <xs:element name="_SupplierOrderNo" type="xs:unsignedInt" />
  <xs:element name="_DeliverTo" type="xs:string" />
  <xs:element name="_InvoiceTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="_V" type="xs:string" />
        <xs:element name="_ProductCode" type="xs:string" />
        <xs:element name="_QTY" type="xs:string" />
        <xs:element name="_Price" type="xs:string" />
        <xs:element name="_Discount" type="xs:string" />
        <xs:element name="_Amount" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_InvoiceTotal" type="xs:decimal" />
</xs:schema>